<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bar App</title>
    <script src="/lib/jQuery.2.2.1.js"></script>
    <script src="/lib/bootstrap.3.3.6.js"></script>
    <link href="/lib/bootstrap.3.3.6.css" rel="stylesheet">
    <link href="/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bar-app.css" rel="stylesheet">
  </head>
  <body>
    <nav class='navbar navbar-default container-fluid navigation-bar'>
      <div class='navbar-header'>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class='navbar-brand' href='#' id='brand'>Find local bars</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="twitter" id='twitter-a' href="/auth/twitter"><i class=
            "fa fa-twitter" id='twitter'></i></a>
          </li>
          <li>
            <a class="facebook" id='facebook-a' href="/auth/facebook"><i class=
            "fa fa-facebook" id='facebook'></i></a>
          </li>
          <li><span id='id'><%=user.id%></span></li>
          <li><span id='service'><%=user.service%></span></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <form role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="search-box" placeholder="Where are you at?">
          <button type="submit" class="btn btn-default" id="search-button">Search</button>
        </div>
      </form>
      <div id="search-results">
      </div>
    </div>
    <script src="/lib/store.min.js"></script>
    <script src="https://cdn.ravenjs.com/3.0.5/raven.min.js"></script>
    <script>Raven.config('https://0618d43745a14fd38b0210716d87aa85@app.getsentry.com/83386', {includePaths: [/http:\/\/localhost\:3000/]}).install();</script>
    <script src="/javascripts/bar-app-main.js"></script>
  </body>
</html>