.bar-name {
	display: block;
	font-size: 1.5em;
}

.rating-img {
	display: inline-block;
}

.reviews {
	display: block;
}

.bar-img {
	display: block;
}

.text-block {
	margin-top: 1em;
}

.bar {
	margin-top: 4em;
}

@media screen and (min-width:768px){
	.text-block {
		margin-top: 5.5em;
	}
}

