#search-results {
	margin-top: -2em;
}

#search-button {
	margin-top: 1em;
	margin-bottom: -1em;
}

.bar-name {
	font-size: 1.5em;
}

.rating-img {
	display: block;
}

.reviews {
	display: block;
}

.bar-img {
	display: block;
}

.text-block {
	margin-top: 1em;
}

.bar {
	margin-top: 4em;
}

@media screen and (min-width:768px){
	.text-block {
		margin-top: 5.5em;
	}
}

.going  {
	display: inline-block;
	margin-left: 1em;
}